
  <h1 layout="row" layout-align="center center">My Projects</h1>

  <ps-content-row>
    <h2>Recent Projects</h2>
    <div class="md-whiteframe-z1" layout-fill layout="column" layout-align="center center">
      <h4>RepairQuote</h4>
      <p>RepairQuote is a new startup focused on bringing trust back to the auto repair industry. We help people know how much they should be paying by providing estimates from multiple shops. We also track reviews across the web and find you the best repair shop near you. Check it out now, and get a $20 oil change when you sign up. <a href="https://www.repairquote.com">RepairQuote.com</a></p>
    </div>
    <div class="md-whiteframe-z1" layout-fill layout="column" layout-align="center center">
      <h4>Wasp Balancer</h4>
      <p>This project was initially created as a research project on applying a <em>bio-inpsired</em> algorithm on a real world problem. I used a polish wasp algorithm as the routing logic for a load balancer. The idea behind a polish wasp algorithm is that each unit starts off generic and specializes in a task the more it does it. Since web servers will cache previously requested items, then sending the same type of requests the same machine will see better performance. To see the code and the results checkout the <a href="https://github.com/Amos47/WaspBalancer">Github Repo</a></p>
    </div>
    <div class="md-whiteframe-z1" layout-fill layout="column" layout-align="center center">
      <h4>Chillax</h4>
      <p>This a fun little chrome extension that allows you to set timed intervals for when you should be taking a break. A friend of mine created the project and I helped out a little. You can see my fork <a href="https://github.com/Amos47/Chillax">here</a>. Or you can see the original source <a href="https://github.com/micealgallagher/Chillax">here</a>.</p>
    </div>
    <div class="md-whiteframe-z1" layout-fill layout="column" layout-align="center center">
      <h4>JordanAmos.com</h4>
      <p>The code for this site is also made available on my <a href="https://github.com/Amos47/JordanAmos.com">github page</a>. You are free to do what you will with it.</p>
    </div>
    <br/>
  </ps-content-row>

  <ps-content-row>
    <h2>Projects I think are cool</h2>
    <ul>
      <li><a href="https://github.com/harelba/q">q</a> - q allows you to run sql queries on csv files. </li>
      <li><a href="https://github.com/Marak/translate.js">Translate.js</a> - Translate.js is a babelfish for javascript.</li>
      <li><a href="https://github.com/andrewrk/swig-email-templates">Swig Email Templates</a> - Let's you create inline css email templates using swig rendering engine.</li>
    </ul>
    <p>There are many more projects I could add, but these are a few most people don't know about.</p>
  </ps-content-row>

  <ps-content-row>
    <h2>A note about older projects</h2>
    <span>
      I have some old projects kicking around my github and elsewhere on the web.</span><span>They are embarassing growing pains. So please don't judge me by them.
    </span>
  </ps-content-row>
